body {
  max-width: 900px;
  background: #17181c;
  margin: 0 auto;
  padding: 6px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 105px;
  height: 150px;
  margin: 3px;
  transition: 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}
img {
  width: 105px;
}
.flip .front {
  z-index: 99;
  transition: 0.6s;
}
.back,
.front {
  position: absolute;
  transition: 0.6s;
  z-index: 1;
}
.front {
  transform: rotateY(180deg);
}
.flip {
  transform: rotateY(180deg);
}
